.app-container {
   .header-container {
      .navbar-nav {
         z-index: 1;
         .nav-link {
            &.active {
               color: #00bff0;
            }
         }
      }
   }
}

video {
   position: fixed;
   bottom: 0;
width: 100vw;
}
